{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}
    
    {% if app.session.hasFlash('category-notice') %}
        <div class="category-notice success">
            {{ app.session.flash('category-notice') }}
        </div>
    {% endif %}

    <p class="create create-product">
        <a href="">
            <img src="/bundles/estoreshop/img/add-gray.png" />
            Create a new entry
        </a>
    </p>
    <table id="entity-list" class="records_list">
        <caption><h2>User list</h2></caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
                
            <tr>
                <td><a href="">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            {{ role }}
                        {% elseif role == 'ROLE_SUPER_ADMIN' %}
                            {{ role }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('eStoreShopBundleAdmin_brand_edit', {'id' : user.id}) }}">Edit</a>
                </td>
                <td>
                    <a href="{{ path('eStoreShopBundleAdmin_brand_delete', {'id' : user.id}) }}">Delete</a>
                </td>
            </tr>
            {% else %}
            There are no users to display
        {% endfor %}
        </tbody>
    </table>
{% endblock %}