{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}

   <h2>Brand creation</h2>

    <form action="{{ path('eStoreShopBundleAdmin_brand_create') }}" method="post" {{ form_enctype(form) }}>
       
            
        {{ form_errors(form) }}

        <fieldset style="border: 1px solid #ccc;"> <legend>Basic data</legend>
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </fieldset>

        {{ form_rest(form) }}
        <p>
            <input type="submit" value="Create"/>
        </p>
    </form>
   
{% endblock %}
