{% extends 'eStoreShopBundle::layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock%}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/estoreshop/css/products.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/estoreshop/css/pagination.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/estoreshop/js/vendor/nivo-slider/themes/eStore/eStore.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/estoreshop/js/vendor/nivo-slider/nivo-slider.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/estoreshop/js/vendor/uniform/css/uniform.eStore.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/estoreshop/js/vendor/lightbox/css/lightbox.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/estoreshop/js/vendor/jquery-ui/css/cupertino/jquery-ui-1.8.17.custom.css') }}" type="text/css" />
{% endblock%}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/estoreshop/js/vendor/underscore/underscore-min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/estoreshop/js/vendor/backbone/backbone-min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/estoreshop/js/vendor/nivo-slider/jquery.nivo.slider.pack.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/estoreshop/js/vendor/jquery-ui/js/jquery-ui-1.8.17.custom.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/estoreshop/js/priceRangeSlider.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/estoreshop/js/vendor/uniform/jquery.uniform.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/estoreshop/js/vendor/lightbox/jquery.lightbox.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/estoreshop/js/productsApp.js?version=3') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/estoreshop/js/bootstrap.js') }}" ></script>
{% endblock %}
 
{% block head %}
    
    <script type="text/template" id="products-template">
	<!-- Normal loop that iterates over products -->
        <% _.each(products, function(p) { %>
            <li>
                <a href="/uploads/products/<%= p.id + '-' + p.image_name %>" class="lightbox">
                    <img src="/uploads/products/thumbs/my_thumb/uploads/products/<%= p.id + '-' + p.image_name %>"/>
                </a>
                <div style="text-align: center;"><%= p.name %></div>
                <div>
                    <p style="margin-bottom:10px;">
                        
                        <span>
                            <% _.each(p.categories, function(c) { %>
                                <% if (c.parent != null) { %>
                                    <a title="<%= 'Subcategory of ' + c.parent.name %>"><%= c.name %></a>
                                <% } else { %>
                                    <a ><%= c.name %></a>
                                <% } %>
                            <% }); %>
                        </span> 
                        
                        <img src="{{ asset('bundles/estoreshop/img/magnifying-glass.png') }}" style="float:right; margin-top:4px;"/>
                    </p>
                    <p>
                        <span><%= p.price %>&euro;</span> <img src="{{ asset('bundles/estoreshop/img/icon-cart-add.png') }}" style="float:right;"/>
                    </p>
                    
                </div>
           </li>
        <% }); %>
    </script>
    
    <script type="text/template" id="pagination-template">
	<!-- Pagination controls -->
    </script>
    
{% endblock %}    
    
{% block main %}
                                

                                
    <div class="slider-wrapper theme-default">
                	<div class="ribbon"></div>
                	<div id="slider" class="nivoSlider">
                    	<img src="{{ asset('bundles/estoreshop/js/vendor/nivo-slider/demo/images/BHBANNER.jpg') }}" alt="" />
                    	<img src="{{ asset('bundles/estoreshop/js/vendor/nivo-slider/demo/images/men-nautical.jpg') }}" alt="" />
                        <img src="{{ asset('bundles/estoreshop/js/vendor/nivo-slider/demo/images/fashion.jpg') }}" alt="" />
                        <img src="{{ asset('bundles/estoreshop/js/vendor/nivo-slider/demo/images/326375799_952.jpg') }}" alt="" />
                        <img src="{{ asset('bundles/estoreshop/js/vendor/nivo-slider/demo/images/125817u.jpg') }}" alt="" />
                	</div>
                <!-- slider-wrapper end -->
        		</div>
                
                
                <div id="products-wrapper">
                	<h2>Popular products</h2>
                    <div class="line line-products"></div>
                    

                    
                    <div id="filter-container">
                        <h3>Filter</h3>
                        <form id="formFilter" target="">
                            <div style="margin-left:50px;">
                                
                                {{ form_widget(form.gender) }}
                                {{ form_widget(form.categories) }}
                                
                                
                                <select id="per-page">
                                    <option value="2">2 products per page</option>
                                    <option value="5" selected="selected">5 products per page</option>
                                    <option value="10">10 products per page</option>
                                    <option value="20">20 products per page</option>
                                    <option value="30">50 products per page</option>
                                    <option value="40">100 products per page</option>
                                </select>
                            </div>
                            
                            <div style="margin-left:60px;">

                                <div class="layout-slider" style="width:232px; float:left; margin-top:24px;">
                                    <div class="tooltip tooltip1"></div>
                                    <div class="tooltip tooltip2"></div>
                                    <div id="slider-range" style="width: 200px;"></div>
                                </div>

                            <br />
                            
                                <select id="filter-price-order">
                                    <option value="">Order by price</option>
                                    <option value="asc">Lower to higher</option>
                                    <option value="desc">Higher to lower</option>
                                </select>
                                
                                <select id="filter-size">
                                    <option value="">All sizes</option>
                                    <option value="1">Small</option>
                                    <option value="2">Medium</option>
                                    <option value="3">Big</option>
                                </select>
                            
                            <br /><br />
                                {{ form_widget(form.colours) }}
                            </div>
                            
                        </form>
                    <!-- filter-container end -->
                    </div>

                    <ul id="products">
                    <!-- products end -->
                    </ul>
                    
                    <ul id="pagination">
                    <!-- pagination end -->
                    </ul>
                    
                <!-- products-wrapper end -->
                </div>
{% endblock %}   
