{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    function add() {
        var collectionHolder = $('#estore_shopbundle_producttype_garments');
        var prototype = collectionHolder.attr('data-prototype');
        form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
        collectionHolder.append(form);
    }

    $('a.jslink').live('click', function(event){
        event.preventDefault();
        add();
    });
    </script>
    

    <form action="{{ path('eStoreShopBundleAdmin_product_update', { 'id': product.id }) }}" method="post" {{ form_enctype(form) }} id="product-edit">
        
        {{ form_errors(form) }}
        <fieldset class="main">
            <legend>Product edit</legend>
            
            <fieldset class="nested"> 
                <legend>Basic data</legend>
                <ol>
                    <li>
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                    </li>
                    <li>
                        {{ form_label(form.code) }}
                        {{ form_errors(form.code) }}
                        {{ form_widget(form.code) }}
                    </li>
                    <li>
                        {{ form_label(form.active) }}
                        {{ form_errors(form.active) }}
                        {{ form_widget(form.active) }}
                    </li>
                    <li>
                        {{ form_label(form.description) }}
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                    </li>                    
                    <li>
                        {{ form_label(form.price) }}
                        {{ form_errors(form.price) }}
                        {{ form_widget(form.price) }}
                    </li>
                </ol>
            </fieldset>

            <fieldset class="nested"> 
                <legend>Garments</legend>
                <ol>
                    <li class="garments">
                       <div id="estore_shopbundle_producttype_garments" data-prototype="{{ form_widget(form.garments.get('prototype')) | e }}">
                           {% for index, garment in form.garments %}
                               <fieldset style="border:1px solid #CCC; border-radius: 5px; padding: 10px; margin: 10px; margin-left: -140px;">
                                   
                                   <legend class="title">Garment No. #{{ index + 1 }}</legend>
                                    {{ form_row(garment.colours) }}
                                    <br />
                                    {{ form_row(garment.size) }}
                                    <br />
                                    {{ form_row(garment.quantity) }}
                                    <br />
                                    <br />
                                
                               </fieldset>
                            {% endfor %}
                        </div>
                    </li>
                    
                    <ul class="record_actions">
                        <li>
                            <a href="#" class="jslink">
                                Add a garment
                            </a>
                        </li>
                    </ul>
                </ol>
            </fieldset>
                               
            
            <fieldset class="nested"> 
                <legend>Additional data</legend>
                <ol>
                    <li>
                        {{ form_widget(form.gender) }}
                    </li>
                    <li>
                        {{ form_label(form.brand) }}
                        {{ form_errors(form.brand) }}
                        {{ form_widget(form.brand) }}
                    </li>
                    <li>
                        {{ form_label(form.categories) }}
                        {{ form_errors(form.categories) }}
                        {{ form_widget(form.categories) }}
                    </li>
                </ol>
            </fieldset>

            <fieldset class="nested"> 
                <legend>Image</legend>
                {% set imageFullName = product.id ~ '-' ~ product.imageName %}
                {% set imageFullPath  = '/uploads/products/' ~ imageFullName %}

                <ol>
                    <li>
                        <img src="{{ imageFullPath | apply_filter('my_thumb') }}" />
                        {{ form_label(form.file) }}
                        {{ form_errors(form.file) }}
                        {{ form_widget(form.file) }}
                    </li>
                </ol>
            </fieldset>
        
        {{ form_rest(form) }}
        
        <p>
            <input type="submit" value="Edit"/>
        </p> 
    </form>
{% endblock %}