{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}
    
    {% if app.session.hasFlash('category-notice') %}
        <div class="category-notice success">
            {{ app.session.flash('category-notice') }}
        </div>
    {% endif %}

    <p class="create create-product">
        <a href="">
            <img src="/bundles/estoreshop/img/add-gray.png" />
            Create a new entry
        </a>
    </p>
    <table id="entity-list" class="records_list">
        <caption><h2>Product list</h2></caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td><img src="/uploads/products/{{ product.id ~ '-' ~ product.imageName }}" height="167" /></td>
                <td>{% if product.created %}{{ product.created|date('m/d/Y H:i:s') }}{% endif%}</td>
                <td>{% if product.updated %}{{ product.updated|date('m/d/Y H:i:s') }}{% endif%}</td>
                <td>
                    <a href="{{ path('eStoreShopBundleAdmin_product_edit', {'id' : product.id}) }}">Edit</a>
                </td>
                <td>
                    <a href="{{ path('eStoreShopBundleAdmin_product_delete', {'id' : product.id}) }}">Delete</a>
                </td>
            </tr>
            {% else %}
            There are no products to display
        {% endfor %}
        </tbody>
    </table>


{% endblock %}