{% extends 'eStoreShopBundle::adminLayout.html.twig' %}

{% block container %}

    <table id="entity-list" class="entity-list">
        
        <caption class="darker"><h2>Entity managment</h2></caption>
        
        <tr>
            <td>Products</td>
            <td> 
                <a href="{{ path('eStoreShopBundleAdmin_product_list') }}"> <img src="/bundles/estoreshop/img/list-gray.png" /> List</a>
            </td>
            <td>
                <a href="{{ path('eStoreShopBundleAdmin_product_new') }}"> <img src="/bundles/estoreshop/img/add-gray.png" /> Add</a>
            </td>
        </tr>
        <tr class="darker">
            <td>Categories</td>
            <td> 
                <a href="{{ path('eStoreShopBundleAdmin_category_list') }}"> <img src="/bundles/estoreshop/img/list-gray.png" /> List</a>
            </td>
            <td>
                <a href="{{ path('eStoreShopBundleAdmin_category_new') }}"> <img src="/bundles/estoreshop/img/add-gray.png" /> Add</a>
            </td>
        </tr>
        <tr>
            <td>Brands</td>
            <td> 
                <a href="{{ path('eStoreShopBundleAdmin_brand_list') }}"> <img src="/bundles/estoreshop/img/list-gray.png" /> List</a>
            </td>
            <td>
                <a href="{{ path('eStoreShopBundleAdmin_brand_new') }}"> <img src="/bundles/estoreshop/img/add-gray.png" /> Add</a>
            </td>
        </tr>
        <tr class="darker">
            <td>Colours</td>
            <td> 
                <a href="{{ path('eStoreShopBundleAdmin_colour_list') }}"> <img src="/bundles/estoreshop/img/list-gray.png" /> List</a>
            </td>
            <td>
                <a href="{{ path('eStoreShopBundleAdmin_colour_new') }}"> <img src="/bundles/estoreshop/img/add-gray.png" /> Add</a>
            </td>
        </tr>
    </table>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <table id="entity-list" class="user-managment">

            <caption class="darker"><h2>User managment</h2></caption>

            <tr>
                <td>Users</td>
                <td> 
                    <a href="{{ path('eStoreShopBundleAdmin_user_list') }}"> <img src="/bundles/estoreshop/img/list-gray.png" /> List</a>
                </td>
                <td>
                    <a href="{{ path('eStoreShopBundleAdmin_user_new') }}"> <img src="/bundles/estoreshop/img/add-gray.png" /> Add</a>
                </td>
            </tr>

        </table>
    {% endif %}

{% endblock %}