{% extends 'eStoreShopBundle::layout.html.twig' %}

{% block title %}Shopping Cart{% endblock%}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/estoreshop/css/products.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/estoreshop/css/pagination.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/estoreshop/js/vendor/nivo-slider/themes/eStore/eStore.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/estoreshop/js/vendor/nivo-slider/nivo-slider.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/estoreshop/js/vendor/uniform/css/uniform.eStore.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/estoreshop/js/vendor/lightbox/css/lightbox.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/estoreshop/js/vendor/jquery-ui/css/cupertino/jquery-ui-1.8.17.custom.css') }}" type="text/css" />
{% endblock%}
{% block javascripts %}
    {{ parent() }}
    
    
    <script>
    var cartStatus;
    var yourUrl = location.href;
    var parse_url = /^(?:([A-Za-z]+):)?(\/{0,3})([0-9.\-A-Za-z]+)(?::(\d+))?(?:\/([^?#]*))?(?:\?([^#]*))?(?:#(.*))?$/;
    var parts = parse_url.exec( yourUrl );
    var result = parts[1]+':'+parts[2]+parts[3]+'/' ;

    var baseUrl = result;
    var hashless_url = result;
    
    function removeFromCart() {
        $('.remove-from-cart').click(function() {
            var id = $(this).attr('id');
            doRemoveFromCart(id); 
        });
    }
    
    function doRemoveFromCart(id) 
    {
        $.ajax({
            url: baseUrl + 'cart/remove/' + id,
            beforeSend: function() { 
                $('#'+id).attr('src', hashless_url + '/bundles/estoreshop/img/loading.gif');
            },
            success: function( data ) {
                $('.cart-items-number').text(data);
                $('#'+id).parent().remove();
                cartStatus = false;
            }
            
        });
    }
    
    $(document).ready(function() {
        removeFromCart();
    });
    </script>
    
{% endblock %}

{% block main %}
    
    <form method="post" action="{{ path('eStoreShopBundle_orderStatus') }}">
        {% for product in products %}
            <div>
                {{ product }} - 
                <input type="text" value="{{ cart.quantity(product.id) }}" name="{{ product.id }}">
                <img src="{{ asset('bundles/estoreshop/img/icon-cart-remove.png') }}" class="remove-from-cart" id="{{ product.id }}" style="height: 20px; margin-left: 5px;"/>
            </div>
            <br /> 
        {% endfor %}
            <input type="submit" value="Continue">
    </form>

{% endblock %}